@model Facebook.Models.ViewModels._HeaderModel
<header class="header">
    <nav class="fixed-top navColor navbar navbar-expand-lg shadow-sm ">
        <div class="facebook-icon ms-2">
            <i class="fa-brands fa-facebook" style="background-color: white; border-radius: 50%;"></i>
        </div>
        <div class="collapse navbar-collapse">
            <form class="form-inline my-2 my-lg-0">
                <div class="inputBox" id="searching">
                    <span class="fas fa-search"></span>
                    <input type="search" placeholder="Search Facebook">
                </div>
                </form>
        </div>                    
        <div class="d-flex">
            <div class="icons">
                <div class="SmallUser"> 
                    <img  src="~/img/user1.png"   alt="facebook user">
                    <span>User</span>
                </div>
            </div>
            
            <div class="icons">
                <i class="fa-solid fa-bell" id="bell"></i>
            </div>
                
            <div class="icons">
                <i class="fa-solid fa-arrow-down" id="arrow"></i>
            </div>

            <div class="Notification-container shadow-lg ">
                <h3> Notifications</h3>
                <div class="singel-notfication">
                    <img src="~/img/user1.png" alt="">
                    <div class="content">
                        <a href="#" >
                            <p><span> Ahmed Ezz </span> accepted your friend request.</p>
                        </a>
                        <div class="time">15 hours ago</div>
                    </div> 
                </div>
                <div class="singel-notfication">
                    <img src="~/img/user1.png" alt="">
                    <div class="content">
                        <a href="#" >
                            <p><span> John Doe  </span> commented on a post that your are tagged in.</p>
                        </a>
                        <div class="time">15 hours ago</div>
                    </div> 
            
                </div>
                <div class="singel-notfication">
                    <img src="~/img/user1.png" alt="">
                    <div class="content lastContent">
                        <a href="#" >
                            <p><span> User Name</span> sent you a friend request.</p>
                        </a>
                        <div class="time">15 hours ago</div>
                        <div class="lastContentLinks">
                            <a href="#" class="btn btn-primary text-light my-1">Accept</a>    
                            <a href="#"  class="btn btn-light my-1 shadow-sm">Decline</a>
                        </div>
                        </div> 
                </div>
            </div>
            <div class="Logout-container shadow-lg ">
                <div class="small-info">
                    <img src="~/img/user1.png" alt="">
                    <p>Ram El-Din Hussein</p>
                </div>
                <div class="text-end d-none">  
                    <input type="radio" id="light" name="mode" value="light">
                    <br>
                    <input type="radio" id="dark" name="mode" value="dark"> 
                </div>                   
                <div class="small-element">
                    <a href="#"><i class="fa-solid fa-arrow-right-from-bracket me-2" ></i>Log Out </a>
                </div> 
            </div>
            
            <div class="Search-container shadow-lg ">
                <h5> Recent Seraches</h5>
                <div class="search-element">
                    <img src="~/img/user1.png" alt="">
                    <a href="#" ><span> Ahmed Ezz </span></a>
                </div> 
                <div class="search-element">
                    <img src="~/img/user1.png" alt="">
                    <a href="#" ><span> Ahmed Ezz </span></a>
                </div> 
                <div class="search-element">
                    <img src="~/img/user1.png" alt="">
                    <a href="#" ><span> Ahmed Ezz </span></a>
                </div> 
            </div>
        </div>
    </nav>
</header>